
.return-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.35);
}

.return-container h2 {
    text-align: center;
    color: #ff7700;
    margin-bottom: 20px;
}

.return-form {
    display: flex;
    flex-direction: column;
}

.return-form label {
    margin-bottom: 5px;
    color: #dadada;
}

.return-form input,
.return-form select {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #444; 
    background-color: #333; 
    color: #f2f2f2; 
    border-radius: 6px; 
    font-size: 1rem;
}


.return-btn {
    padding: 12px 25px;
    background: linear-gradient(to right, #ff4500, #ff8c00);
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.return-btn:hover {
    background: linear-gradient(to right, #ff6347, #ffa500);
    transform: scale(1.05);
}